*{
  font-family:cursive;
}

li{
  margin-left:71px;
}
a{
  text-decoration: none;
  color: black;
}
li a:hover{
  color: orange;
  font-weight:bolder
}

h1{
  color:orange
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 20vw;
  border-radius: 4px;
}

button{
  padding: 5px;
  border-radius: 4px;
  background-color: orange;
  color:black;
  margin: 5px;
  cursor: pointer;
}

input {
  padding: 5px;
}

.center-box{
  display: flex;
  justify-content: center;
}

.description {
  width:45vw;
  padding: 30px;
}
.description textarea{
      width: 40vw;
      margin:20px;
      resize: vertical;/* Allows the textarea to be resized vertically */
      overflow-y: scroll;
      height: 90px;
}

.center-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.center-items p{
  margin: 6px;
}

.logout,.updatepassword{
  width: 90px;
  height: 50px;
}

content{
  height: 60vh;
}
